.main-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}
thead {
  color: white;
  background-color: black;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 5px 10px;
}
td {
  border-bottom: 2px solid #eeeeee;
}
.border-bottom {
  border-bottom: 2px solid #eeeeee;
}
.section {
  display: flex;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 10px 10px;
  justify-content: space-between;
}
.opt1 {
  font-size: large;
}
.opt2 {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  font-size: small;
}
.opt3 {
  color: #888888;
}
#content {
  width: 100%;
}
.form-control {
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: solid 2px #eeeeee;
  padding: 10px 10px;
}
textarea {
  resize: none;
}
.btn {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  text-decoration-line: none;
}
.btn-primary {
  background-color: #0d6efd;
  color: white;
}
.alert {
  padding: 10px 10px;
  background-color: #f8d7da;
  border-radius: 5px;
}
label {
  margin: 10px 5px;
}
