{% extends "base.html" %} {% block content %}

<div class="main-container">
  <!-- 질문 -->
  <h2 class="border-bottom">{{question.subject}}</h2>
  <div>
    <div class="section">
      <div class="opt1">{{question.content}}</div>
      <div class="opt2">
        <div class="opt3">&nbsp;</div>
        <div class="opt3">{{question.create_date|date:'Y-m-d'}}</div>
      </div>
    </div>
  </div>
  <h5 class="border-bottom">
    {{question.answer_set.count}}개의 답변이 있습니다.
  </h5>
  {% for answer in question.answer_set.all %}
  <div>
    <div class="section">
      <div class="opt1">{{answer.content}}</div>
      <div class="opt2">
        <div class="opt3">&nbsp;</div>
        <div class="opt3">{{answer.create_date|date:'Y-m-d'}}</div>
      </div>
    </div>
  </div>
  {% endfor %}
  <form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <div>
      <label for="content">답변내용</label>
      <textarea name="content" id="content" rows="15"></textarea>
      <input type="submit" value="답변등록" />
    </div>
  </form>
</div>
{% endblock content %}
