{% extends "base.html" %} {% block content %}

<div class="main-container">
    <!-- 질문 -->
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <strong>{{message.tags}}</strong>
        <ul>
            <li>{{message.message}}</li>
        </ul>
        {% endfor%}
    </div>
    {% endif %}
    <h2 class="border-bottom">{{question.subject}}</h2>
    <div>
        <div class="section">
            <div class="opt1">{{question.content}}</div>
            <div class="opt2">
                <div class="opt3">
                    {% if user.is_authenticated %}
                    <a
                        href="javascript:void(0)"
                        data-uri="{% url 'pybo:question_vote' question.id %}"
                        class="text-btn recommend"
                        >추천</a
                    >&nbsp;&nbsp;<span>{{question.voter.count}}</span><br />
                    {% endif %} {% if request.user == question.author %}
                    <a
                        href="{% url 'pybo:question_modify' question.id %}"
                        class="text-btn"
                        >수정 </a
                    >&nbsp;&nbsp;
                    <a
                        href="javascript:void(0)"
                        class="text-btn delete"
                        data-uri="{% url 'pybo:question_delete' question.id %}"
                        >삭제</a
                    >{% endif %} <br /><br />작성자 {{question.author.username}}
                </div>
                <div class="opt3">
                    작성일 {{question.create_date|date:'Y-m-d'}}
                    <!-- prettier-ignore -->
                    {% if question.modify_date %}
                    <br />수정일 {{question.modify_date|date:'Y-m-d'}}
                    <!-- prettier-ignore-->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom">
        {{question.answer_set.count}}개의 답변이 있습니다.
    </h5>
    {% for answer in question.answer_set.all %}
    <a id="answer_{{answer.id}}"></a>
    <div>
        <div class="section">
            <div class="opt1">{{answer.content}}</div>
            <div class="opt2">
                <div class="opt3">
                    {% if user.is_authenticated %}
                    <a
                        href="javascript:void(0)"
                        data-uri="{% url 'pybo:answer_vote' answer.id %}"
                        class="text-btn recommend"
                        >추천</a
                    >&nbsp;&nbsp;<span>{{answer.voter.count}}</span><br />
                    {% endif %} {% if request.user == answer.author %}
                    <a
                        href="{% url 'pybo:answer_modify' answer.id %}"
                        class="text-btn"
                        >수정 </a
                    >&nbsp;&nbsp;
                    <a
                        href="javascript:void(0)"
                        class="text-btn delete"
                        data-uri="{% url 'pybo:answer_delete' answer.id %}"
                        >삭제</a
                    >
                    {% endif %}
                    <br /><br />작성자 {{answer.author.username}}
                </div>
                <div class="opt3">
                    작성일 {{answer.create_date|date:'Y-m-d'}}
                    <!-- prettier-ignore -->
                    {% if answer.modify_date %}
                    <br />수정일 {{answer.modify_date|date:'Y-m-d'}}
                    <!-- prettier-ignore -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'pybo:answer_create' question.id %}" method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->

        {% if form.errors %}

        <div>
            {% for field in form %} {% if field.errors %}
            <div class="alert">
                <strong>{{field.label}}</strong>{{field.errors}}
            </div>
            {% endif %} {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div>
            <label for="content">답변내용</label>
            <!-- prettier-ignore -->
            <textarea {% if not user.is_authenticated %} disabled="disabled" {% endif %} class="form-control"
                name="content"
                id="content"
                rows="15"
            ></textarea>
            <input class="btn btn-primary" type="submit" value="답변등록" />
        </div>
    </form>
</div>
{% endblock content %} {% block script %}
<script type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
            if (confirm(`정말로 삭제하시겠습니까?`)) {
                location.href = this.dataset.uri;
            }
        });
    });

    const recommend_elements = document.getElementsByClassName(`recommend`);
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener(`click`, function () {
            sendAjaxRequest(
                `${this.dataset.uri}`,
                `GET`,
                function (response) {
                    element.nextElementSibling.innerText = response.message;
                },
                function (response) {
                    alert(response.message);
                }
            );
        });
    });
</script>
{% endblock script %}
